body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Estilos para el header */
#MenuTienda {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el logo */
.logo {
    font-size: 1.5rem;
}

/* Estilos para el título */
#MenuTienda h3 {
    margin: 0;
}

/* Estilos para el menú de navegación */
#MenuTienda nav {
    display: flex;
    align-items: center;
}

#MenuTienda nav .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#MenuTienda nav .menu li {
    margin-right: 20px;
}

#MenuTienda nav .menu li:last-child {
    margin-right: 0;
}

#MenuTienda nav .menu li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el contenedor de búsqueda */
.search-container {
    display: flex;
    align-items: center;
}

/* Estilos para el input de búsqueda */
.search-container input[type="text"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Estilos para el botón de búsqueda */
.search-container button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}
  
footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-top: auto;
}
main {
  flex: 1;
}

#img{
height: 300px;
width: 100%;
border-radius: 50px;
}

.Welcomeimg{
    position: relative;

}
.contenedorWelcome {
    position: relative;
    width: 97vw; /* Ancho de la ventana del navegador */
    max-width: 100%; /* Máximo ancho posible */
    padding: 10px;
    background-color: #464949;
    color: #ccc;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto; /* Centrar horizontalmente */
}

.ContainerApartados{
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente línea */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 80%; /* Ancho del contenedor */
    margin: auto; /* Centrar el contenedor en la página */
}
/* apartados para secciones de productos en el index */
.apartado {
    float: right;
    width: 250px;
    padding: 5px;
    border: 5px solid #ccc;
    border-radius: 15px;
    text-align: center; 
    margin: 10px;
    background-color: darkgrey;
    color: #fff;
}
.apartado h4{
    text-align: center;
    margin-bottom: 10px;
    margin-top: -5px;
}
.apartado img{
    margin: 10px;
    height: 200px;
    width: auto;
    border-radius: 20%;
}
/* style para contacto */
.containerbase{
    width: 100%;
    overflow: hidden; /* limpia el float del div */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
.containerContacto {
    float: left;
    width: 300px;
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
  
  .containerContacto h2 {
    text-align: center;
  }
  
  .containerContacto form {
    display: flex;
    flex-direction: column;
  }
  
  .containerContacto label {
    margin-bottom: 8px;
  }
  
  .containerContacto input[type="text"],
  input[type="email"],
  textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .containerContacto textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .containerContacto button {
    width: 300px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
   .containerContacto  button:hover {
    background-color: #45a049;
  }

  .imageAlus{
    float: right;
    width: 420px;
    margin: 30px;
 
  }
  .imageAlus img{
    border-radius: 50%;
    border: #333;
    width: 420px;
  }